.center {
    text-align: center;
}

.container {
    margin: 0 auto;
}

.form_container {
    width: 300px;
    clear: both;
}

.core {
    padding:20px;
    margin-top:30px;
    height:400px;
    width: 70%;
    margin: 0 auto;
}

.error {
    color: #FF0000;
}

ul {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;
    width: 1200px;
    list-style-type: none;
    padding: 0;
    padding-left: 40%;
    overflow: hidden;
}

li {

    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#cerrar_sesion {
    width: 100px;
}

#productos_form {
    width: 90%;

}

.ingresar_input {
    width: 100%;
    clear: left;
    margin-right: 10px;
}

.ver_input {
    width: 10%;
    clear: left;
    margin-right: 10px;
}

#fecha_de_ingreso {
    width:15%;
}

#modificar {
    margin-right: 10px;
    margin-left: 10px;
}
